{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <!--Bootstrap JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  <!--fontassome kit-->
  <script src="https://kit.fontawesome.com/f357c5650c.js" crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% endblock %}

  <title>DisasterReadyOnline - Disaster Management Training for Municipal Workers in Germany{% block extra_title %}{% endblock %}
  </title>
  <!-- Meta Description -->
  <meta name="description" content="Online training platform designed by experts to equip
municipal workers in Germany with essential skills to tackle floods, storms, heat waves, and
forest fires.">
  <!-- Keywords for SEO -->
  <meta name="keywords" content="Disaster Management, Disaster Risk Reduction, DRR, Germany, Risk Management/management crisis
  Climate Change and Resilience, Societal Resilience, Disaster Risk Reduction,Disaster Risk Assessment, Emergency 
  Preparedness and Response, Community Resilience and Recovery,  Health Impacts of Disasters, Disaster Communication,
  Vulnerability Analysis, Technology in Disaster Management, Humanitarian Aid and Logistics, E-learning, 
  Virtual learning, Remote education, Distance learning, Blended learning, Online training, Web-based learning,
  Digital instruction, Municipal Worker Training, Flood Preparedness, Storm Response, Heat Wave Safety, 
  Forest Fire Management, Germany, E-learning, Consulting, Education">
  <!-- Author -->
  <meta name="author" content="Disaster Ready Online Team">
  <!-- Open Graph Meta Tags for Social Media Sharing -->
  <meta property="og:title" content="DisasterReadyOnline - Disaster Management Training for
Municipal Workers">
  <meta property="og:description" content="Join our online training platform to gain essential
skills in managing floods, storms, heat waves, and forest fires. Tailored for municipal workers in
Germany.">
  <meta property="og:image" content="URL-to-your-thumbnail-image.jpg">
  <meta property="og:url" content="https://www.disasterreadyonline.com">
  <meta property="og:type" content="website">
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="DisasterReadyOnline - Disaster Management Training for
Municipal Workers">
  <meta name="twitter:description" content="Our expert-led online platform provides
municipal workers with the latest skills for tackling natural disasters in Germany.">
  <meta name="twitter:image" content="URL-to-your-thumbnail-image.jpg">
  <!-- Favicon -->
  <link rel="icon" href="{% static 'leaf-solid.svg' %}" type="image/x-icon">
</head>

<body>
  
  {% block page_header %}
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scientific Project Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div class="container-fluid d-flex">
        <!-- Logo and Text -->
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
          <img src="{% static 'images/leaf-solid.svg' %}" alt="Logo" width="30" height="30"
            class="d-inline-block align-top me-2">
          <span>Disaster Ready</span>
        </a>

        <!-- Navbar Toggler for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ms-auto">
            <!-- Categories Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                <li><a class="dropdown-item" href="{% url 'categories' %}">All Courses</a></li>
                <li><a class="dropdown-item" href="{% url 'individual_category' category_id=1 %}">Floods</a></li>
                <li><a class="dropdown-item" href="{% url 'individual_category' category_id=2 %}">Forest Fire</a></li>
                <li><a class="dropdown-item" href="{% url 'individual_category' category_id=3 %}">Heat Wave</a></li>
                <li><a class="dropdown-item" href="{% url 'individual_category' category_id=4 %}">Storm</a></li>
              </ul>

            </li>

            <!-- Navigation Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navigationDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Navigate
              </a>
              <ul class="dropdown-menu" aria-labelledby="navigationDropdown">
                <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                <li><a class="dropdown-item" href="{% url 'categories' %}">Courses</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}">About Disaster Ready</a></li>
              </ul>
            </li>

            <!-- Login/Logout Placeholder -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
              <ul class="list-inline list-unstyled text-center text-lg-end my-0 d-flex">
                <!-- User Options Dropdown -->
                <li class="list-inline-item dropdown">
                  <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="text-center">
                      <div><i class="fas fa-user fa-lg"></i></div>
                      <p class="my-0">My Account</p>
                    </div>
                  </a>
                  <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_course' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                  </div>
                </li>

                <!-- Shopping Bag -->
                <li class="list-inline-item">
                  <a class="{% if total %}custom-black fw-bold{% else %}text-success{% endif %} nav-link"
                    href="{% url 'view_bag' %}">
                    <div class="text-center">
                      <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                      <p class="my-0">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Search Bar -->
    <div class="bg-dark py-3">
      <div class="container text-center">
        <form method="GET" action="" class="d-flex justify-content-center align-items-center">
          <input class="form-control w-50 me-2" type="text" name='q' placeholder="Search content of categories"
            aria-label="Search">
          <button class="btn btn-outline-light" type="submit">
            <i class="fa-solid fa-binoculars"></i>
          </button>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>

  </html>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
  {% endif %}

  {% block footerblock %}
  <footer class="container-fluid py-5 mt-n5" style="max-height: 120px;">
    <div class="container">
      <section class="footer">
        <div class="row">
          <div class="col-12 text-center p-3">
            <h3 class="text-uppercase">Stay in touch:</h3>
            <hr class="mx-auto w-100">
          </div>
        </div>
        <div class="row p-3">
          <div class="col-12 col-md-6 mb-md-0">
            <h4>Social</h4>
            <p>Keep up to date with all our latest offers</p>
            <a href="https://www.facebook.com/profile.php?id=61571470064318" target="_blank" class="text-decoration-none" rel="nofollow">
              <i class="fab fa-facebook-square"></i> Follow us on Facebook!
            </a>
          </div>
          <div class="col-12 col-md-6">
            <h4>Subscribe!</h4>
            <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
            <!-- Mailchimp signup form here -->
          </div>
        </div>
      </section>
    </div>
  </footer>
  
  {% endblock %}
    
    
  {% block postloadjs %}
  <script>
    const toastElList = document.querySelectorAll('.toast')
    const toastList = [...toastElList].map(toastEl => {
    let toast = new bootstrap.Toast(toastEl)
    toast.show();
    console.log('execute toast');
    return toast
  }
  )
  </script>
  {% endblock %}


  
</body>

</html>
