html {
    height: 100%;
}

/* cover photo*/
body {
    background: url('/media/cover_photo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/*H-elements on the index page*/ 
.home-title,
.categories-title {
    font-size: 90px;
    color: red;
}
.home-subtitle {
    font-size: 35px;
}



/* overlay for the categories page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.2;
	z-index: -1;*/
}

/*media queries*/

/*media queries index.html*/

@media (min-width: 450px) {
    .home-subtitle {
        font-size: 45px;
    }
}