{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}



{% block content %}
<div class="overlay"></div>
<div class="container py-5 px-2 my-3">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr class="mb-4">
            <h2 class="logo-font mb-4">DDR Online Course Management</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <hr class="mb-4">
            <h5 class="text-muted">Add Course</h5>
            <p class="text-danger text-center">Attention! Adding <strong>learning material</strong> is possible only
                after the new <strong>online course</strong> is created.</p>
            <hr class="mb-4">
            <form method="POST" action="{% url 'add_course' %}" class="mb-4" enctype="multipart/form-data">
                {% csrf_token %}
                {{ category_form | crispy }}
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-dark rounded-0 me-2" href="{% url 'categories' %}">Cancel</a>
                    <button class="btn btn-dark rounded-0" type="submit">Add Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footerblock %}
{% endblock %}