{% extends "base.html" %}
{% load static %}





{% block content %}

<div class="categories-overlay">
    <div class="container my-5">
        <h1 class="text-center mb-4 categories-title">DDR Online Training</h1>
        <div class="row">
            {% for category in categories %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="p-3 bg-light border h-100">
                    <div class="d-flex justify-content-between align-items-center mb-3 bg-success p-3">
                        <h2 class="mb-0">{{ category.name }}</h2>
                        <img src="{{ category.logo.url }}" alt="{{ category.name }} Logo" class="img-fluid ms-3" style="max-height: 50px;">
                    </div>
                    <p><strong>Difficulty Level:</strong> {{ category.difficulty_level }}</p>
                    <p><strong>Credits:</strong> {{ category.credits }}</p>
                    <p><strong>Number of Lectures:</strong> {{ category.number_of_lectures }}</p>
                    <p><strong>Estimated Time:</strong> {{ category.est_time }} learning hours</p>
                    <p><strong>Short Description:</strong> {{ category.short_description }}</p>
                    <p><strong>Find out more about {{ category.name }}s:</strong> {{ category.long_description }}</p>
                    <p><strong>Test:</strong> {{ category.test }}</p>
                    <div class="text-center">
                        <button class="btn btn-success">
                            <a href="{% url 'materials' category.id %}" class="text-white text-decoration-none">Explore Course</a>
                        </button>
                    </div>
            </div>
                
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}
