{% extends "base.html" %}
{% load static %}





{% block content %}
<div class="p-3 bg-light border d-flex flex-column course-overview-content my-3">
    <div class="d-flex justify-content-between align-items-center mb-3 bg-success p-3 courses-title">
        <h2 class="mb-0">{{ category.name }}</h2>
        {% if category.logo %}
        <img src="{{ category.logo.url }}" alt="{{ category.name }} Logo" class="img-fluid ms-3"
            style="max-height: 50px;">
        {% else %}
        <img src=" {% static 'images/default-logo.svg' %}" alt="Default Logo" class="img-fluid ms-3"
            style="max-height: 50px;">
        {% endif %}
    </div>

    <div class="mb-2">
        <p><strong>Difficulty Level:</strong> {{ category.difficulty_level }}</p>
    </div>
    <div class="mb-2">
        <p><strong>Credits:</strong> {{ category.credits }}</p>
    </div>
    <div class="mb-2">
        <p><strong>Number of Lectures:</strong> {{ category.number_of_lectures }}</p>
    </div>
    <div class="mb-2">
        <p><strong>Estimated Time:</strong> {{ category.est_time }} learning hours</p>
    </div>
    <div class="mb-2">
        <p><strong>Short Description:</strong> {{ category.short_description }}</p>
    </div>
    <div class="mb-2">
        <p><strong>Find out more about {{ category.name }}s:</strong> {{ category.long_description }}</p>
    </div>
    <div class="mb-2">
        <p><strong>Test:</strong> {{ category.test }}</p>
    </div>

    <div class="individual-category-price-date p-4">
        <p><strong>Starting date:</strong> {{ category.starting_date }}</p>
        <p><strong>Price:</strong> {{ category.price }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-currency-euro" viewBox="0 0 16 16">
                <path
                    d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z" />
            </svg>
        </p>
    </div>
    {% if request.user.is_superuser %}
    <small class="ml-3">
        <a href="{% url 'edit_course' category.id %}">Edit</a> |
        <a class="text-danger" href="{% url 'delete_course' category.id %}">Delete</a>
    </small>
    {% endif %}
    <div class="text-center">
        <button class="btn btn-success mt-2">
            <a href="{% url 'materials' category.id %}" class="text-white text-decoration-none">Explore Course</a>
        </button>
    </div>
</div>

{% endblock %}

