{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5">{{ category.name }}s Materials</h1>
        <div id="materials-subtitle-field">
            <p class="lead text-muted text-white fs-4 mb-0"><em>{{ category.short_description }}</em></p>
        </div>       
        <form class="form" action="{% url 'add_to_bag' category.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'categories' %}" class="btn btn-outline-dark mt-5">
                        <span class="me-2">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Exploring</span>
                    </a>
                    <input type="submit" class="btn text-uppercase mt-5 add-course-button 
                    {% if category.id in purchased_courses %} btn-primary {% else %} btn-outline-success {% endif %}"
                        id="add-course-button"
                        value="{% if category.id in purchased_courses %}Course Unlocked{% else %}Add This Course to the Bag{% endif %}">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>
    <div class="row">
        {% for material in materials %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ material.material_title }}</h5>
                    <hr>
                    <p class="card-text"><strong>Full Content:</strong> {{ material.full_content }}</p>
                    <!--refactor material.json-->
                    {% if material.pdf_name or material.pdf_file %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        {% if material.pdf_name %}
                        <span><strong>PDF:</strong> {{ material.get_pdf_name }}</span>
                        {% endif %}
                        {% if category.id in purchased_courses %}
                        {% if material.pdf_file %}
                        <a href="{{ material.pdf_file.url }}" class="btn btn-secondary btn-sm material-buttons"
                            target="">Download
                            PDF</a>
                        {% endif %}
                        {% else %}
                        <p class="bg-danger text-white purchase-divs">Add this course!</p>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if material.video_name or material.video_url %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        {% if material.video_name %}
                        <span><strong>Video:</strong> {{ material.video_name }}</span>
                        {% endif %}
                        {% if category.id in purchased_courses %}
                        {% if material.video_url %}
                        <a href="{{ material.video_url }}" class="btn btn-primary btn-sm material-buttons"
                            target="">Watch
                            Video</a>
                        {% endif %}
                        {% else %}
                        <p class="bg-danger text-white purchase-divs">Add this course!</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}