{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5">{{ category.name }}s Materials</h1>
        <div id="materials-subtitle-field" class="text-center">
            <!--add appropriate logo-->
            <p class="lead text-muted text-white p-3 fs-4">{{ category.short_description }}</p>
            <button>Buy this course</button>
            <!--restile this button to be bigger and to stay on the right side-->
        </div>
    </div>
    <div class="row">
        {% for material in materials %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ material.short_description }}</h5>
                    <hr>
                    <p class="card-text"><strong>Full Content:</strong> {{ material.full_content }}</p>
                    <!--refactor material.json-->
                    {% if material.pdf_name or material.pdf_file %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        {% if material.pdf_name %}
                        <span><strong>PDF:</strong> {{ material.get_pdf_name }}</span>
                        {% endif %}
                        {% if material.pdf_file %}
                        <a href="{{ material.pdf_file.url }}" class="btn btn-secondary btn-sm" target="">Download
                            PDF</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if material.video_name or material.video_url %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        {% if material.video_name %}
                        <span><strong>Video:</strong> {{ material.video_name }}</span>
                        {% endif %}
                        {% if material.video_url %}
                        <a href="{{ material.video_url }}" class="btn btn-primary btn-sm" target="">Watch
                            Video</a>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
